<div class="checkout-info" *ngIf="order">
  <a [routerLink]="['/checkout']" class="checkout-link">
    <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
  </a>

  <span class="total-cost">
    {{order.totalCost | currency}}
  </span>

  <span class="items-quantity">
    {{order.totalQuantity}}
  </span>
</div>
