@import "variables";

:host {
  .checkout-info {
    display: flex;
    align-items: center;
    background: var(--c-white);
    border: 1px solid var(--c-grey);
    padding: 5px 10px;
    border-radius: 25px;

    .checkout-link, .total-cost, .items-quantity {
      display: inline-flex;
      color: var(--c-grey);
      font-size: 0.9rem;
      padding: 0 3px;
    }

    .checkout-link {
      padding: 0 10px 0 3px;
      border-right: 1px solid var(--c-grey-5);
    }

    .total-cost {
      padding: 0 3px 0 10px;
    }

    .items-quantity {
      font-weight: 600;
      color: var(--c-primary-1);
      padding: 0 3px 0 0;
      transition: color .3s ease;

      &:before {
        display: inline flex;
        content: "("
      }

      &:after {
        display: inline-flex;
        content: ')';
      }
    }
  }
}

:host-context(.touch-disabled) {
  .checkout-info {
    .checkout-link {
      transition: color .3s ease;

      &:hover {
        color: var(--c-grey-8);
      }
    }
  }
}


@media (max-width: $breakpoint-sm) {
  :host {
    .checkout-info {
      border-radius: 50%;
      width: 28px;
      height: 28px;
      padding: 0;
      justify-content: center;

      .total-cost, .items-quantity {
        display: none;
      }

      .checkout-link {
        border: none;
        font-size: 0.8rem;
        padding: 0;
      }
    }
  }
}
