<div class="checkout-summary">
  <shared-breadcrumbs [items]="breadcrumbsItems"></shared-breadcrumbs>

  <shared-title text="Order item list"></shared-title>
  <checkout-order-item-list [order]="order" [readOnlyMode]="true"></checkout-order-item-list>

  <div class="order-additional">
    <div class="order-address">
      <shared-title text="Address"></shared-title>

      <table class="order-address-table">
       <tbody>
          <tr>
            <td>Name</td>
            <td>{{order.address.name}}</td>
          </tr>
          <tr>
            <td>Surname</td>
            <td>{{order.address.surname}}</td>
          </tr>
          <tr>
            <td>Street</td>
            <td>{{order.address.street}}</td>
          </tr>
          <tr>
            <td>Number</td>
            <td>{{order.address.buildingNumber}}</td>
          </tr>
          <tr>
            <td>City</td>
            <td>{{order.address.city}}</td>
          </tr>
          <tr>
            <td>Zip</td>
            <td>{{order.address.zip}}</td>
          </tr>
       </tbody>
      </table>
    </div>

    <div class="order-transport-and-payment">
      <shared-title text="Payment and transport"></shared-title>

      <table class="order-transport-and-payment-table">
        <tbody>
          <tr>
            <td>Payment</td>
            <td>{{order.payment.name}} - {{order.payment.cost | currency}}</td>
          </tr>
          <tr>
            <td>Transport</td>
            <td>{{order.transport.name}} - {{order.transport.cost | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p class="order-total-cost">
    <span class="label">Total cost:</span>
    <span class="value">{{order.totalCost | currency}}</span>
  </p>

  <div class="button-wrapper">
    <button type="button" class="button" (click)="saveOrder()">Order</button>
  </div>
</div>
