@import "variables";
@import "mixins";

:host {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);

  .message {
    font-size: 2.625rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: var(--c-grey);
    text-align: center;
  }
}
