@import "variables";

:host {
  .shared-dropdown {
    .dropdown-toggle {
      background: var(--c-white);
      color: var(--c-grey);
      border: 1px solid var(--c-grey);
      cursor: pointer;
      outline: none;
      font-size: 0.9rem;
      padding: 0;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(.with-icon).with-text {
        padding: 7px 10px;
        border-radius: 25px;
        font-size: 1rem;
      }

      &:not(.with-text).with-icon {
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }

      &:after {
        content: none;
      }
    }

    .dropdown-items {
      display: block;
      margin: 12px 0 0 0;
      padding: 0;
      border-radius: 0;
      background: var(--c-white);
      min-width: 100px;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      transition: max-height .4s ease, opacity .2s ease;
      opacity: 0;

      .item {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--c-grey-4);

        .item-link, .item-text {
          display: block;
          padding: 7px 14px;
          margin: 0;
          color: var(--c-grey);
          font-size: 0.9rem;
          text-decoration: none;
          max-width: 200px;
          word-wrap: break-word;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.special {
            font-weight: 600;
          }
        }

        .item-link {
          cursor: pointer;
        }

        &:last-of-type {
          margin: 0;
          border-bottom: none;
        }
      }
    }

    .dropdown-toggle[aria-expanded="true"] + .dropdown-items {
      max-height: 200px;
      opacity: 1;
    }

    &[ng-reflect-placement^="bottom"] {
      .dropdown-items {
        &:before {
          display: inline-block;
          color: var(--c-grey-8);
          width: 0;
          height: 0;
          margin-left: 0;
          vertical-align: 0;
          content: "";
          border-top: 0;
          border-right: 6px solid transparent;
          border-bottom: 6px solid;
          border-left: 6px solid transparent;
          position: absolute;
          top: -6px;
          right: 10px;
        }
      }
    }

    &[ng-reflect-placement="bottom-right"] {
      .dropdown-items {
        &:before {
          right: 10px;
        }
      }
    }

    &[ng-reflect-placement="bottom-left"] {
      .dropdown-items {
        &:before {
          left: 10px;
        }
      }
    }
  }
}

:host-context(.touch-disabled) {
  .shared-dropdown {
    .dropdown-items {
      .item {
        .item-link {
          transition: .3s ease;

          &:hover {
            background: var(--c-grey-1);
          }

          &:active {
            background: var(--c-grey-3);
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .shared-dropdown {
      .dropdown-toggle {
        width: 28px;
        height: 28px;
        font-size: 0.8rem;
      }

      .dropdown-items {
        margin: 8px 0 0 0;
      }

      &[ng-reflect-placement="bottom-right"] {
        .dropdown-items {
          &:before {
            right: 5px;
          }
        }
      }

      &.no-dropdown {
        .dropdown-toggle {
          &:not(.with-text).with-icon {
            display: none;
          }

          &:not(.with-icon).with-text {
            background: none;
            border: none;
            font-size: 1rem;
            cursor: default;
            pointer-events: none;
            text-align: left;
            width: 100%;
            padding: 0;
            display: block;
            border-radius: 0;
            color: var(--c-grey-5);
          }
        }

        .dropdown-items {
          position: static;
          background: none;
          text-align: left;
          float: none;
          display: block;
          border: none;
          border-radius: 0;
          padding: 0 0 0 10px;
          margin: 0;
          max-height: fit-content;
          opacity: 1;

          .item {
            .item-link, .item-text {
              color: var(--c-grey-5);
            }
          }

          &:before {
            display: none;
          }
        }
      }
    }
  }
}
