<div ngbDropdown
     *ngIf="items && items.length"
     class="shared-dropdown"
     placement="{{placement}}"
     [class.no-dropdown]="standardListOnMobile">
  <button ngbDropdownToggle class="dropdown-toggle" [class.with-icon]="labelIcon" [class.with-text]="labelText">
    <fa-icon *ngIf="labelIcon" [icon]="labelIcon" class="label-icon"></fa-icon>
    <span *ngIf="labelText" class="label-text">{{labelText}}</span>
  </button>

  <ul ngbDropdownMenu class="dropdown-items" *ngIf="!customContent">
    <li *ngFor="let item of items" class="item">
      <a class="item-link"
         *ngIf="item.route"
         [title]="item.text"
         [class.special]="item.isSpecial"
         (click)="onItemClick(item, $event)">{{item.text}}</a>

      <span class="item-text"
            *ngIf="!item.route"
            [title]="item.text"
            [class.special]="item.isSpecial"
            (click)="onItemClick(item, $event)">{{item.text}}</span>
    </li>
  </ul>

  <div ngbDropdownMenu class="dropdown-items" *ngIf="customContent">
    <ng-content></ng-content>
  </div>
</div>
