@import "variables";

:host {
  .app-navigation {
    display: block;
    padding: 0 10px;

    & > .items {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      & > .item {
        list-style: none;
        position: relative;
        display: inline-flex;
        margin: 0 5px;

        a {
          color: var(--c-grey);
          text-decoration: none;
        }

        &.item-with-dropdown {
          .item {
            display: block;
            font-size: 0.9rem;
            color: var(--c-grey);
            margin: 0 0 8px 0;
            padding: 2px 0;
            border-bottom: 1px solid var(--c-grey-4);
            cursor: pointer;
            max-width: 200px;
            word-wrap: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: calc(0.9rem * 1.7);

            a {
              display:block;
              text-decoration: none;
            }

            &:last-of-type {
              margin: 0;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .app-navigation {
      & > .items {
        display: block;
        width: 100%;

        & > .item {
          display: block;
          position: static;
          margin: 0;

          a {
            color: var(--c-grey-5);
          }

          &.item-with-dropdown {
            .item {
              color: var(--c-grey-5);

              a {
                color: var(--c-grey-5);
              }

              &:last-of-type {
                margin: 0;
                border-bottom: 1px solid var(--c-grey-4);
              }
            }
          }
        }
      }
    }
  }
}
