@import "variables";

:host {
  display: block;
  width: 100%;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid var(--c-grey-4);

  .item-list {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;

    .item {
      list-style: none;
      display: block;
      max-width: 100%;

      .item-link, .item-text {
        display: inline-flex;
        font-size: 1rem;
        font-weight: 300;
        color: var(--c-grey);
        background: var(--c-grey-1);
        text-decoration: none;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 25px;
        word-wrap: break-word;
      }

      &:first-of-type {
        .item-link, .item-text {
          margin-left: 0;
        }
      }

      &::after {
        content: '/';
        display: inline-flex;
      }

      &:last-of-type {
        &::after {
          content: none;
        }
      }
    }
  }
}
