<div class="container">
  <aside class="aside-wrapper">
    <product-category-navigation></product-category-navigation>

    <product-list-filter-manager
      *ngIf="!contentLoading"
      [category]="category"
      (filterListChange)="onFilterListChange($event)"
      [class.expanded]="filterManagerExpanded">
    </product-list-filter-manager>
  </aside>

  <div class="product-list-wrapper">
    <shared-breadcrumbs *ngIf="category && !contentLoading" [items]="breadcrumbsItems"></shared-breadcrumbs>

    <button *ngIf="!contentLoading"
            type="button"
            class="filter-list-button"
            (click)="toggleFilterList()"
            [class.clicked]="filterManagerExpanded">
      <fa-icon [icon]="['fas', 'sliders-h']"></fa-icon>
      <span class="products-quantity">{{productCollection.length}}</span>
    </button>

    <product-list
      *ngIf="!contentLoading"
      [productCollection]="productCollection"
      [noResultsMessage]="'Sorry, this category has not got any products.'">
    </product-list>

    <p class="no-category-message" *ngIf="!contentLoading && !category">
      Sorry, category doesn't exist.
    </p>

    <mat-progress-spinner
      class="loader"
      *ngIf="contentLoading"
      [strokeWidth]="2"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
</div>
