@import 'variables';
@import 'mixins';

:host {
  display: block;
  width: 100%;
  height: 100%;

  .app {
    display: block;
    width: 100%;
    height: 100%;
    padding: var(--header-height-lg) 0 0 0;
    position: relative;

    .app-content {
      color: var(--c-black);
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto;
      background: var(--c-white);
      position: static;
      z-index: auto;
      overflow: auto;
      min-height: calc(100vh - var(--header-height-lg));

      &::ng-deep .mat-drawer-backdrop {
        z-index: 11;
        position: fixed;
      }

      .app-sidebar {
        position:fixed;
        z-index: 11;
        left: 0;
        overflow: hidden;
        width: 75%;
        background: var(--c-grey);
        color: var(--c-white);
      }

      .content-wrapper {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        min-height: calc(100vh - var(--header-height-lg));

        .inner-content-wrapper {
          display: block;
          max-width: var(--container-lg);
          width: 100%;
          height: auto;
          margin: 0 auto !important;
          padding: 20px 10px;
          flex: 1 1 100%;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  :host {
    .app {
      .app-content {
        .content-wrapper {
          .inner-content-wrapper {
            max-width: var(--container-md);
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  :host {
    .app {
      .app-content {
        .content-wrapper {
          .inner-content-wrapper{
            max-width: var(--container-sm);
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .app {
      padding: var(--header-height-sm) 0 0 0;

      .app-content {
        min-height: calc(100vh - var(--header-height-sm));

        .content-wrapper {
          min-height: calc(100vh - var(--header-height-sm));

          .inner-content-wrapper {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-xs) {
  :host {
    .app {
      padding: var(--header-height-xs) 0 0 0;

      .app-content {
        min-height: calc(100vh - var(--header-height-xs));

        .content-wrapper {
          min-height: calc(100vh - var(--header-height-xs));
        }
      }
    }
  }
}
