<div class="product-detail" *ngIf="product && !contentLoading">
  <shared-breadcrumbs [items]="breadcrumbsItems"></shared-breadcrumbs>

  <div  class="swiper-container product-photos-slider" [swiper]="sliderConfig" *ngIf="product.photos.length">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide" *ngFor="let photo of product.photos">
        <img src="{{photo.url}}" alt="{{product.name}}" class="product-photo">
      </div>
    </div>

    <div class="swiper-button-prev button-prev">
      <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
    </div>

    <div class="swiper-button-next button-next">
      <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
    </div>
  </div>

  <div class="product-info">
    <h2 class="product-name">{{product.name}}</h2>

    <div class="product-operations">
      <span class="product-price">{{product.price | currency}}</span>

      <product-buy-button [product]="product"></product-buy-button>
    </div>
  </div>

  <div class="product-attributes" *ngIf="product.attributes.length">
    <table>
      <tbody>
        <tr *ngFor="let attribute of product.attributes">
          <td class="attribute-name">
            {{attribute.name}}
          </td>
          <td class="attribute-options">
            <span *ngFor="let attributeOption of attribute.options">
              {{attributeOption.name}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="product-reviews">
    <shared-title text="Reviews" class="compact"></shared-title>

    <product-reviews [product]="product"></product-reviews>
  </div>
</div>

<p class="not-found-message" *ngIf="!product && !contentLoading">
  Sorry, but product with given id doesn't exists.
</p>

<mat-progress-spinner
  class="loader"
  *ngIf="!product && contentLoading"
  [strokeWidth]="2"
  [mode]="'indeterminate'">
</mat-progress-spinner>
