@import "variables";
@import "mixins";

:host {
  position: relative;

  .product-detail {
    .product-photos-slider {
      padding: 10px 0;
      margin: 0 auto 10px;
      border-bottom: 1px solid var(--c-grey-4);

      .slide {
        max-height: 460px;

        .product-photo {
          display: block;
          max-width: 100%;
          max-height: inherit;
          margin: 0 auto;
        }
      }

      .button-prev, .button-next {
        @include button-rounded;
      }

      .button-prev {
        left: 0;
      }

      .button-next {
        right: 0;
      }
    }

    .product-info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 0 10px;
      padding: 0 0 10px 0;
      border-bottom: 1px solid var(--c-grey-4);
      justify-content: space-between;
      align-items: center;

      .product-name {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 300;
        word-wrap: break-word;
        max-width: 100%;
        color: var(--c-grey);
      }

      .product-operations {
        margin: 0 0 0 auto;

        .product-price {
          margin: 0 10px 0 auto;
          font-size: 1.2rem;
          color: var(--c-primary);
        }
      }
    }

    .product-attributes {
      margin: 0 0 10px;
      border: 1px solid var(--c-grey-4);

      table {
        width: 100%;

        tbody {
          tr {
            td {
              font-size: 0.9rem;
              padding: 10px;
              color: var(--c-grey);

              &:first-of-type {
                text-align: right;
                font-weight: 600;
              }

              &:last-of-type {
                text-align: left;
              }
            }

            &:nth-child(odd) {
              background: var(--c-grey-1);
            }
          }
        }
      }
    }
  }

  .not-found-message {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: var(--c-grey);
    text-align: center;
  }
}

:host-context(.touch-disabled) {
  .product-detail {
    .product-photos-slider {
      .button-prev, .button-next {
        @include button-rounded-transition;
      }
    }
  }
}
