<section class="section"
         [class.section-open]="shouldSectionBeOpen()"
         [class.section-always-open]="alwaysOpen">
  <shared-title class="section-title"
                [text]="sectionTitle"
                [ordinaryTag]="true"
                (click)="toggleSection()">
    <span class="step-state"
          *ngIf="componentInstance"
          [class.success]="componentInstance.state === true"
          [class.edit]="componentInstance.state === undefined"
          [class.fail]="componentInstance.state === false"></span>
    <i class="fa fa-angle-down icon"></i>
  </shared-title>

  <div class="section-content">
    <ng-template #componentContainer></ng-template>
  </div>
</section>
