@import "variables";
@import "mixins";

:host {
  .main-slider {
    .slide {
      display:flex;
      width: 100%;
      height: 400px;
      justify-content: center;
      align-items: center;
      background: var(--c-white);
      border: 1px solid var(--c-grey-5);
      border-left: none;
      border-right: none;

      .text {
        font-size: 2rem;
        font-weight: 300;
        margin: 0;
      }

      &:nth-of-type(1) {
        border-color: var(--c-blue);
        color: var(--c-blue);
      }

      &:nth-of-type(2) {
        border-color: var(--c-green);
        color: var(--c-green);
      }

      &:nth-of-type(3) {
        border-color: var(--c-red-1);
        color: var(--c-red-1);
      }
    }

    .button-prev, .button-next {
      @include button-rounded;
    }
  }
}

:host-context(.touch-disabled) {
  .main-slider {
    .button-prev, .button-next {
      @include button-rounded-transition;
    }
  }
}
