@import "variables";

@mixin button {
  display: inline-flex;
  margin: 0;
  text-decoration: none;
  color: var(--c-primary);
  background: var(--c-white);
  padding: 5px 25px;
  align-items: center;;
  justify-content: center;
  border: 1px solid var(--c-primary);
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: opacity .3s ease;
  opacity: 1;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

@mixin button-large {
  @include button;
  padding: 10px 35px;
  border-radius: 35px;
  font-size: 1.1rem;
}

@mixin button-filled {
  @include button;
  background: var(--c-primary);
  color: var(--c-white);
}

@mixin button-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 10px;
  background: var(--c-grey-1);
  border: 1px solid var(--c-grey-2);
  color: var(--c-grey);
  border-radius: 100%;
  outline: none;
}

@mixin button-filled-large {
  @include button-large;
  background: var(--c-primary);
  color: var(--c-white);
}

@mixin button-transition {
  transition: opacity .3s ease, background .3s ease, color .2s ease, border-color .4s ease;

  &:not([disabled]):hover {
    background: var(--c-primary);
    color: var(--c-white);
  }
  &:not([disabled]):active {
    background: var(--c-primary-1);
    color: var(--c-white);
  }
}

@mixin button-rounded-transition {
  transition: background .3s ease;

  &:not([disabled]):hover {
    background: var(--c-grey-2);
  }
  &:not([disabled]):active {
    background: var(--c-grey-3);
  }
}

@mixin button-filled-transition {
  transition: opacity .3s ease, background .3s ease, border-color .4s ease;

  &:not([disabled]):hover {
    background: var(--c-primary-1);
    border-color: var(--c-primary-2);
  }

  &:not([disabled]):active {
    background: var(--c-primary-2);
    border-color: var(--c-primary-2);
  }
}

@mixin custom-radio-input {
  display: none;

  & + label {
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: auto;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      float: left;
      width: 24px;
      height: 24px;
      border: 1px solid var(--c-grey-5);
      border-radius: 50%;
      background: var(--c-white);
      cursor: pointer;
      transition: background .3s ease, border-color .3s ease;
      align-self: flex-start;
      flex: 0 0 24px;
    }

    .label-text {
      display: block;
      font-size: 0.9rem;
      color: var(--c-grey);
      overflow: hidden;
      padding: 0 0 0 10px;
    }
  }

  &:checked + label {
    &:before {
      background: var(--c-grey-6);
    }
  }
}

@mixin custom-checkbox-input {
  display: none;

  & + label {
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: auto;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      border: 1px solid var(--c-grey-5);
      border-radius: 50%;
      background: var(--c-white);
      cursor: pointer;
      transition: background .3s ease, border-color .3s ease;
      align-self: flex-start;
      flex: 0 0 16px;
    }

    .label-text {
      display: block;
      font-size: 0.9rem;
      color: var(--c-grey);
      overflow: hidden;
      padding: 0 0 0 10px;
    }
  }

  &:checked + label {
    &:before {
      background: var(--c-grey-6);
    }
  }
}
