:root {
  --c-theme-light-blue-primary: #42A5F5;
  --c-theme-light-blue-primary-1: #1976D2;
  --c-theme-light-blue-primary-2: #0D47A1;
  --c-theme-light-green-primary: #66BB6A;
  --c-theme-light-green-primary-1: #388E3C;
  --c-theme-light-green-primary-2: #1B5E20;
  --c-theme-light-orange-primary: #FF7043;
  --c-theme-light-orange-primary-1: #E64A19;
  --c-theme-light-orange-primary-2: #BF360C;

  --c-primary: var(--c-theme-light-blue-primary);
  --c-primary-1: var(--c-theme-light-blue-primary-1);
  --c-primary-2: var(--c-theme-light-blue-primary-2);

  --c-white: #fff;
  --c-black: #000;
  --c-grey: #333;
  --c-grey-1: #fafafa;
  --c-grey-2: #f5f5f5;
  --c-grey-3: #f1f1f1;
  --c-grey-4: #dddddd;
  --c-grey-5: #cccccc;
  --c-grey-6: #efefef;
  --c-grey-7: #aaaaaa;
  --c-grey-8: #666666;
  --c-grey-9: #333333;
  --c-yellow: #ffd600;
  --c-yellow-1: #FFD600;
  --c-red: #D32F2F;
  --c-red-1: #D50000;
  --c-green: #00C853;
  --c-blue: #42A5F5;

  --container-lg: 1160px;
  --container-md: 980px;
  --container-sm: 740px;
  --container-min: 320px;

  --header-height-lg: 57px;
  --header-height-sm: 40px;
  --header-height-xs: 80px;
}

$breakpoint-lg: 1199px;
$breakpoint-md: 1023px;
$breakpoint-sm: 767px;
$breakpoint-xs: 459px;
