@import "variables";
@import "mixins";

:host {
  checkout-section {
    display: block;
    margin: 0 0 10px 0;

    &:last-of-type {
      margin: 0 0 30px 0;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;

    .button {
      @include button-filled-large;
    }
  }
}

:host-context(.touch-disabled) {
  .button-wrapper {
    .button {
      @include button-filled-transition;
    }
  }
}
