@import "variables";

:host {
  display: flex;
  width: 100%;
  padding: 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid var(--c-grey-4);
  align-items: center;

  .title {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--c-grey);
    margin: 0;
    padding: 0;

    &.smaller-text {
      font-size: 1rem;
    }
  }

  &.compact {
    padding: 5px 0;

    .title {
      font-size: 1.2rem;
    }
  }
}
