@import "variables";

:host {
  .search-form {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;

    .form-control {
      display: inline-flex;
      outline: none;
      border: 1px solid var(--c-grey);
      border-radius: 25px 0 0 25px;
      background: var(--c-white);
      font-size: .9rem;
      color: var(--c-grey);
      padding: 5px 10px;
      width: 100%;
      min-width: 150px;
      max-width: 300px;
    }

    .submit-button {
      display: inline-flex;
      background: var(--c-grey-2);
      border: 1px solid var(--c-grey);
      border-radius: 0 25px 25px 0;
      border-left: none;
      color: var(--c-grey);
      outline: none;
      padding: 0 12px 0 10px;
      cursor: pointer;
      align-items: center;
    }
  }
}


@media (max-width: $breakpoint-sm) {
  :host {
    .search-form {
      .form-control {
        max-width: 100%;
      }
    }
  }
}
