<form (submit)="onSubmit()" #searchForm="ngForm" class="search-form">
  <input #phraseInput
         type="text"
         placeholder="Search"
         [(ngModel)]="phrase"
         name="phrase"
         autocomplete="off"
         class="form-control"
         required
         minlength="1">

  <button type="submit" class="submit-button" [disabled]="!searchForm.form.valid">
    <fa-icon [icon]="['fas', 'search']"></fa-icon>
  </button>
</form>
