@import "variables";

:host {
  .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr [col]);
    grid-gap: 20px;
    padding: 0;
  }

  & > .message {
    display: block;
    text-align: center;
  }
}

@media (max-width: $breakpoint-lg) {
  :host {
    .product-list {
      grid-template-columns: repeat(3, 1fr [col]);
    }
  }
}

@media (max-width: $breakpoint-md) {
  :host {
    .product-list {
      grid-template-columns: repeat(2, 1fr [col]);
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .product-list {
      grid-template-columns: 1fr [col];
    }
  }
}
