<div class="order-item-list" *ngIf="order.items.length">
  <div class="labels">
    <span class="label label-image">Image</span>
    <span class="label label-name">Name</span>
    <span class="label label-quantity">Quantity</span>
    <span class="label label-total-cost">Total cost</span>
    <span class="label label-empty" *ngIf="!readOnlyMode"></span>
  </div>

  <ul *ngIf="order" class="content">
    <li *ngFor="let orderItem of order.items" class="order-item" [class.read-only-mode]="readOnlyMode">
      <product-photo [product]="orderItem.product"></product-photo>

      <p class="order-item-name">{{orderItem.product.name}}</p>

      <div class="order-item-quantity">
          <input type="number"
                 *ngIf="!readOnlyMode"
                 [min]="ORDER_ITEM_QUANTITY_MIN"
                 [max]="ORDER_ITEM_QUANTITY_MAX"
                 [value]="orderItem.quantity"
                 (input)="onOrderItemQuantityInput(orderItem, $event.target)"
                 class="input">

        <span class="quantity" *ngIf="readOnlyMode">
          {{orderItem.quantity}}
        </span>
      </div>

      <span class="order-item-total-cost">{{orderItem.totalCost | currency}}</span>

      <div class="order-item-delete-btn" *ngIf="!readOnlyMode">
        <button class="btn" (click)="removeOrderItem(orderItem)">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
      </div>
    </li>
  </ul>
</div>

<p class="empty-basket-message" *ngIf="!order.items.length">Basket is empty</p>

<p class="error-message" *ngIf="errorMessage">Quantity value of some items is not valid. You should provide value from range 1-10.</p>

<button class="button" *ngIf="!readOnlyMode && order.items.length" (click)="onButtonClick()" [disabled]="shouldButtonBeDisabled()">Save</button>
