<form #paymentForm="ngForm" class="payment-form" *ngIf="order">
  <div class="form-group" *ngFor="let payment of paymentCollection">
    <input
      type="radio"
      class="form-control"
      name="payment"
      [id]="'payment-' + payment.id"
      [value]="payment"
      (change)="order.payment = payment"
      [checked]="order.payment ? order.payment.id == payment.id : false">
    <label [for]="'payment-' + payment.id" class="form-label">
      <span class="label-text">
        {{payment.name}}

        <span class="label-text-special">
          {{payment.cost | currency}}
        </span>
      </span>
    </label>
  </div>

  <button type="submit" class="submit-button" [disabled]="!order.payment" (click)="onButtonClick()">Save</button>
</form>
