<p class="client-address-text" *ngIf="client && client.address">
  You can insert address which is connected to your client account, by clicking
  <button type="button" class="button" (click)="populateWithClientAddress()">here</button>.
</p>

<form #addressForm="ngForm" (ngSubmit)="onButtonClick()" (input)="onFormChange()" *ngIf="order" class="address-form">
  <div class="form-group form-group-name">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="address.name" required>
  </div>

  <div class="form-group form-group-surname">
    <label for="surname" class="form-label">Surname</label>
    <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="address.surname" required>
  </div>

  <div class="form-group form-group-street">
    <label for="street" class="form-label">Street</label>
    <input type="text" class="form-control" id="street" name="street" [(ngModel)]="address.street" required>
  </div>

  <div class="form-group form-group-building-number">
    <label for="building-number" class="form-label">Number</label>
    <input type="text" class="form-control" id="building-number" name="buildingNumber"
           [(ngModel)]="address.buildingNumber" required>
  </div>

  <div class="form-group form-group-city">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="address.city" required>
  </div>

  <div class="form-group form-group-zip">
    <label for="zip" class="form-label">Zip code</label>
    <input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="address.zip" required>
  </div>

  <p class="edit-message" *ngIf="showEditMessage">
    You've edited previous address. Please save changes by clicking on the button below.
  </p>

  <div class="submit-button">
    <button type="submit" class="button" [disabled]="!addressForm.form.valid">Save</button>
  </div>
</form>

