<div class="container">
  <shared-breadcrumbs [items]="breadcrumbsItems"></shared-breadcrumbs>

  <div class="product-list-wrapper">
    <product-list
      [productCollection]="productCollection"
      [noResultsMessage]="'Sorry, no results was found for phrase: ' + phrase">
    </product-list>
  </div>

  <mat-progress-spinner
    class="loader"
    *ngIf="!productCollection"
    [strokeWidth]="2"
    [mode]="'indeterminate'">
  </mat-progress-spinner>
</div>
