<footer class="app-footer">
  <span class="copyright">
    Copyright © 2018. All rights reserved <a href="http://tavoite.pl" target="_blank">Tavoite</a>.
  </span>

  <span class="app-version">{{appVersion}}</span>
</footer>
