@import "variables";

:host {
  .app-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background: var(--c-grey-8);
    color: var(--c-grey-2);
    font-size: 0.9rem;

    .copyright {
      a {
        text-decoration: none;
        color: var(--c-white);
      }
    }

    .app-version {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  :host {
    .app-footer {
      text-align: center;
      flex-flow: row;
      font-size: 0.8rem;
    }
  }
}
