@import "variables";
@import "mixins";

:host {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(100% - 20px);

  .message {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 20px 0;
    color: var(--c-grey);
  }

  .button {
    @include button;
  }
}

:host-context(.touch-disabled) {
  .button {
    @include button-transition;
  }
}
