@import "variables";

:host {
  display: block;

  shared-title {
    padding: 5px 0 10px 0;
  }

  .category-items {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    background: var(--c-grey-1);
    border: 1px solid var(--c-grey-3);

    .category-item {
      list-style: none;

      a {
        display: block;
        color: var(--c-grey);
        text-decoration: none;
        font-size: 1rem;
        padding: 8px 15px;
        border-bottom: 1px solid var(--c-grey-3);
        word-wrap: break-word;
        max-width: 100%;
      }
    }
  }
}

:host-context(.touch-disabled) {
  .category-items {
    .category-item {
      a {
        transition: background-color .3s ease;

        &:hover {
          background-color: var(--c-grey-2);
        }

        &:active {
          background-color: var(--c-grey-3);
        }
      }
    }
  }
}
