<shared-title text="Categories" [ordinaryTag]="true" [smallerText]="true"></shared-title>

<div class="category-navigation">
  <ul class="category-items" *ngIf="categories && categories.length">
    <li *ngFor="let category of categories" class="category-item">
      <a [routerLink]="['/product-list', category.id]" [title]="category">{{category}}</a>
    </li>
  </ul>

  <mat-progress-spinner
    class="loader"
    *ngIf="!categories"
    [strokeWidth]="2"
    [mode]="'indeterminate'">
  </mat-progress-spinner>
</div>
